{% extends "base.html" %}
{% include  "navbar.html" %}
{% block content %}
  <div class="uk-container" style="margin-top:100px">
      <div class="row text-center">
         <div class="col-lg-6 offset-lg-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
         </div>
        <div class="col-lg-12">
                
                <img class="rounded-circle account-img" width="150" src="{{ image_file }}">

                <h3 class="account-heading uk-margin-small-top" style="text-transform: capitalize">{{ current_user.username }}
                        <p class="text-secondary" style="text-transform: lowercase">{{ current_user.email }}</p>
                </h3>
                <div class="effect varrius">
                        <div class="buttons">
                          <a href="#" class="fb" title="Join us on Facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                          <a href="#" class="tw" title="Join us on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        
                          <a href="#" class="insta" title="Join us on Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      

                </div>
      </div>
      <hr class="uk-divider-icon uk-margin-medium-top">

      <div class="row uk-margin-medium-top">
            <div class="col-lg-6 offset-lg-3">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="mb-4 text-center">Update Account Info</legend>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}
            
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="uk-input") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="uk-input") }}
                                {% endif %}
                            </div>
                   
                            <div class="form-group">
                                {{ form.picture.label(class="") }}
                                <br><br> 
                                {{ form.picture(class="form-control-file") }}
                                {% if form.picture.errors %}
                                    {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="uk-button-secondary uk-button") }}
                        </div>
                    </form>
            </div>
      </div>
  </div>
{% endblock content %}