{% extends "base.html" %}
{% include "navbar.html" %}

{% block content %}

        <div class="uk-container" style="margin-top:100px">
          <div class="row">
            <div class="col-lg-12">
                <div class="content-section">
                    <h3 class="text-center">Activity Log</h3>
                    <br><br>
                    <p class='text-muted uk-margin-small-left'>Logs of all Posts Created by You
                      <br><br>
                      <ul class="list-group">
                          {% for post in current_user.posts %}
                          <li class="list-group-item list-group-item-light">Created <b>{{ post.title }}</b> on {{ post.date_posted.strftime('%Y-%m-%d') }}</li>
                          {% endfor %}
                     
                      </ul>
                    </p>
                  </div>
            </div>
          </div> 
        </div>

{% endblock %}