<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- UIkit CSS -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-3.1.8/css/uikit.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="{{ url_for('static', filename='uikit-3.1.8/js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit-3.1.8/js/uikit-icons.min.js') }}"></script>
    <!-- Bootstrap CSS -->


     <!-- PLUGINS CSS STYLE -->
  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Themefisher Font -->  
  <link href="{{ url_for('static', filename='plugins/themefisher-font/style.css') }}" rel="stylesheet">
  <!-- Slick Carousel -->
  <link href="{{ url_for('static', filename='plugins/slick/slick.css') }}" rel="stylesheet">
  <!-- Slick Carousel Theme -->
  <link href="{{ url_for('static', filename='plugins/slick/slick-theme.css') }}" rel="stylesheet">

   
  
  <!-- CUSTOM CSS -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/6ded732554.js"></script>
    {% if title %}
        <title>SlashGrid - {{ title }}</title>
    {% else %}
        <title>SlashGrid</title>
    {% endif %}
    </head>
    <body class="uk-margin-large-top">
      
        
            <main role="main" class="">
                    <div class="">
                      <div class="">
                        
                        {% block content %}{% endblock %}
                      </div>
                      
                    </div>
            </main>


  <!-- JAVASCRIPTS -->
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script>

  <script src="{{ url_for('static', filename='plugins/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/slick/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='plugins/smoothscroll/SmoothScroll.min.js') }}"></script>

 
</body>
</html>

    </body>
</html>