<!DOCTYPE html>
<html lang="en">
<head>
	<title>SlashGrid - New Post</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-3.1.8/css/uikit.min.css') }}" />

<!--===============================================================================================-->	
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login/css/main.css') }}">
<!--===============================================================================================-->
<style>
	
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 490px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width : 906px){
 .desk{
margin-top:70px !important
  }
 .div-only-mobile{
  visibility:visible;
  }
}</style>

</head>
<body class="">
        <nav class="navbar main-nav text-center fixed-top navbar-expand-lg" style="background:#272727 !important">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/download2.png') }}" alt="logo" width="150" style="padding:10px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="tf-ion-android-menu"></span>
                    </button>
                   
                </div>
        </nav>
            
	<div class="limiter desk row" >
		<div class="container-login100">
			<div class="wrap-login101 col-lg-8">
				<form class="login100-form validate-form" method="POST" action="" >
					

					<span class="login100-form-title p-b-26">
{{legend}}					</span>
					
					
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.title.label(class="form-control-label") }}
                            {% if form.title.errors %}
                                {{ form.title(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.title(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.content.label(class="form-control-label") }}
                            {% if form.content.errors %}
                                {{ form.content(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.content.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.content(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="uk-button uk-button-secondary") }}
                    </div>
                        
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='Login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='Login/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='Login/js/main.js') }}"></script>

</body>
</html>