<!DOCTYPE html>
<html lang="en">
<head>
	<title>SlashGrid - Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-3.1.8/css/uikit.min.css') }}" />

<!--===============================================================================================-->	
<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Login/css/main.css') }}">
<!--===============================================================================================-->
<style>
	
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 490px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width : 906px){
 .desk{
margin-top:70px !important
  }
 .div-only-mobile{
  visibility:visible;
  }
}</style>

</head>
<body class="">
        <nav class="navbar main-nav text-center fixed-top navbar-expand-lg" style="background:#272727 !important">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/download2.png') }}" alt="logo" width="150" style="padding:10px"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="tf-ion-android-menu"></span>
                    </button>
                   
                </div>
        </nav>
            
	<div class="limiter desk" >
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST" action="" >
					

					<span class="login100-form-title p-b-26">
						Log In
					</span>
					
					
         
							{{ form.hidden_tag() }}
							<fieldset class="form-group">
								{% with messages = get_flashed_messages(with_categories=true) %}
								{% if messages %}
								  {% for category, message in messages %}
									<div class="alert alert-{{ category }}">{{ message }}</div>
								  {% endfor %}
								{% endif %}
							  {% endwith %}
								<div class="form-group">
									{{ form.email.label(class="form-control-label") }}
									{% if form.email.errors %}
										{{ form.email(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.email.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.email(class="uk-input") }}
									{% endif %}
								</div>
								<div class="form-group">
									{{ form.password.label(class="form-control-label") }}
									{% if form.password.errors %}
										{{ form.password(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.password.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.password(class="uk-input") }}
									{% endif %}
                                </div>
                                <div class="form-group row text-right">
                                        <small class="text-muted ml-2 col-12">
                                            <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                                        </small>
                                </div>
								<div class="form-check uk-margin-smal-left">
									{{ form.remember(class="uk-checkbox") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>
                                <div class="form-group uk-margin-medium-top">
                                        {{ form.submit(class="uk-button uk-button-secondary") }}

                                </div>
							</fieldset>
							
                            <br>
                            <div class="border-top pt-3">
                                    <small class="text-muted">
                                        Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
                                    </small>
                            </div>
                        
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>
</html>