{% extends "base.html" %}
{% include "navbar.html" %}

{% block content %}
<div class="uk-container" style="margin-top:150px" >
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="mb-4">Type Your Email To Reset Your Password</legend>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="uk-input") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="uk-button uk-button-secondary") }}
                        </div>
                </form>
        </div>
    </div>
</div>
{% endblock content %}